:root{

  --customlight: #C9DAEA;
  --customgrey: #C9DAEA;
  --customflorescblue: #03F7EB;;
  --customjungle: #0D6456;
  --customblack: #191516;
  --customwine: #621C2E;
  --customamaranth: #AB2346;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: "Brushtroke" ;
  background-color: var(--customblack);
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 3vmin);
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}


.App-link {
  color: var(--customflorescblue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.validation-error {
  color: #AB2346;
}

.main-div{
  background-color: var(--customlight);
  height: 100vh;
}

.form-container{
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  padding-bottom: 5%;
  border: black solid 5px;
  background-color: white;
}


.form-container > * {
  margin-left: 5%
}

.symbols{
  color: #03F7EB;
}
.navbar{
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: var(--customblack);
  border-top: dotted var(--customamaranth) 3px;
}

.navbar-link {
  text-decoration: none;
  color: var(--customblack);
  font-style: bold;
  font-size: 16pt;
  padding: 1vh;
  margin-left: 10px;
  background: var(--customflorescblue);
  
}

.active-nav {
  color: rgb(0, 0, 0);
  padding: 1vh;
  background: rgb(155, 230, 233);
}

.user-welcome{
  color: white;
  padding-top: 5px;
  
}

.logout-link{
  padding: 3px 5px 3px 5px;
}

footer{
  position: fixed;
  bottom: 0px;
  height: 5vh;
  width: 100%;
  background-color: var(--customwine);
}

.footer-text {
  color: var(--customlight);
  margin-left: 5%;
  margin-top: 8px;
}